.marquee-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-active {
    display: inline-block;
    padding-left: 0;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    99.99999999999% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
