#particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 100;
}

.particle {
    position: absolute;
    width: 2px;
    height: 2px;
    pointer-events: none;
    z-index: 100;
}
